.edit{
 border-radius: 20px;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: row wrap;
   display: flex;
   background-color: rgb(167, 226, 238);
   
}

.edit {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.edit input,
.edit textarea {
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 20px;
}

.edit button {
  padding: 10px;
  font-size: 16px;
  background-color: #00ffcc;
  color: white;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  margin-top: 20px;
}

.edit button:hover {
  background-color: #16d33c;
  box-shadow: #16d33c;
}